body{
    background-color:#EDDDD0;
}

h1{
    color: #334259;
}

#indexH1{
    font-family: 'montserrat';
}

.topContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #A6CAD4;
    padding: 10px;
}
nav a{
    padding: 5px;
}
.bodyContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2 1fr);
}
.paragraphHeading{
    grid-column: 1;
    grid-row: 1;
}
#frogImage{
    grid-row: 2/3;
    grid-column: 2/3;
}
#myselfPPG1{
    grid-row: 2/3;
    grid-column: 1;
    padding-right: 20px;
}
#myselfPPG2{
    grid-row: 3/4;
    grid-column: 1;
    
}
footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #A6CAD4;
}