body{
    background-color:#EDDDD0;
}

h1{
    color: #334259;
}

#indexH1{
    font-family: 'montserrat';
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #A6CAD4;
    padding: 10px;
    
}